/* bg style */
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    padding: 0px;
    background-color: #FFE4E1;
}

/* posisi calculator */
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* style calculator */
.calculator{
    padding: 16px;
    border-radius: 30px;
    background-color: #B0C4DE;
    display: grid;
    grid-template-columns: repeat(4,68px);
    box-shadow: inset 5px 5px 12px #B0C4DE,5px 5px 12px rgba(0,0,0,.16);
}

/* screen */
input{
    height: 70px;
    width: 270px;
    grid-column: span 4;
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 12px #fff, -5px -5px 12px rgba(0,0,0,0.16);
    border: none;
    border-radius: 30px;
    color: rgb(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

/* tombol */
button{
    background-color: #ecf0f3;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: inset -5px -5px 12px #fff, 5px 5px 12px rgba(0,0,0,0.16);
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #FF6347;
}

/* color tombol operator */
.opr {
    background-color: #FFC0CB;
    box-shadow: inset -5px -5px 12px #FFC0CB, 5px 5px 12px rgba(0,0,0,0.16);
}

/* bg color cursor saat mengarah pada tombol */
button:hover{
    background-color: #BC8F8F;
    color: white;
    box-shadow: inset -5px -5px 12px #BC8F8F, 5px 5px 12px rgba(0,0,0,0.16);
}

/* style color tombol = */
.hasil{
    width: 115px;
    border-radius: 45px;
    background-color: #FFC0CB;
    box-shadow: inset -5px -5px 12px #FFC0CB, 5px 5px 12px rgba(0,0,0,0.16);
}
